@use '@carbon/layout';
@use '@carbon/colors';
@use '@carbon/type';

.cds--link.share-post-button {
  color: colors.$gray-90;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid white;
  padding: layout.$spacing-03;
  transition: all 0.3s;

  svg {
    fill: colors.$gray-90;
  }

  &:hover,
  &:focus,
  .share-post-float-container.open & {
    padding: layout.$spacing-03;
    border: 2px solid colors.$gray-90;
  }
}

.add-this-share-title {
  @include type.type-style('productive-heading-03');
}

.ms-blog-detail-page__share-post {
  display: flex;
}

.add-this-share {
  color: colors.$gray-90;

  & .addthis_inline_share_toolbox.float {
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    max-height: 0;
    opacity: 0;
    visibility: hidden;

    &.open {
      max-height: none;
      opacity: 1;
      visibility: visible;
    }

    .at-share-btn-elements {
      display: flex;
      flex-direction: column;
    }
  }
}

.share-post-float-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
