@use '@carbon/layout';
@use '@carbon/colors';

.cds--link.share-post-button {
  color: colors.$red-50;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid white;
  padding: layout.$spacing-03;

  svg {
    fill: colors.$red-50;
  }

  &:hover {
    padding: layout.$spacing-03;
    border: 2px solid colors.$red-50;
  }
}

.ms-blog-detail-page__share-post {
  display: flex;
}

.ms-blog-details__add-this-share {
  color: colors.$blue-50;

  & .addthis_inline_share_toolbox.float {
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    max-height: 0;
    opacity: 0;
    visibility: hidden;

    &.open {
      max-height: none;
      opacity: 1;
      visibility: visible;
    }

    .at-share-btn-elements {
      display: flex;
      flex-direction: column;
    }
  }
}

.ms-blog-detail-block__share-post-float-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
